<h1>Places</h1>

<ul>
  <% for place in @places %>
    
    <div class="mb-3">
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </div>

  <% end %>
</ul>

<p>
  <!-- "New Place" button -->
  <a href="/places/new" class="btn btn-outline-dark mb-3">New Place</a>
</p>